// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-default;
}

//FORMS

input[type=text], input[type=email] {
    padding:15px 10px;
    border:1px solid #000;
}

input[type=submit] {
    padding:17px 50px; 
    background:$brand-yellow; 
    color:#fff;
    font-weight: bold;
    border:0 none;
    cursor:pointer; 
}