.container {
    width: 100%!important;
    max-width: 1400px!important;
}

.wrap.container{
	max-width: 1024px!important;
}

.column-half {
	width:48%;
	float:left;
	margin-right: 2%;

	&:first-child{
		margin-right: 2%;
	}
	
	@media (max-width: #{$mobile-width}) {
  		 width:100%;
  		 float:none;
  	}
}
