
body {
	font-family: $robotolight;
	color: $copy-grey;
	line-height:1.5;
	font-size: 17px;

	@media (max-width: #{$mobile-width}) {
  		font-size: 15px;
  	}
}

h1,h2,h3,h4,h5,h6{
	color: $brand-yellow;
	font-family: $avenir;
}

h1{
	font-size: 3.8em;
	display: inline-block;
	border-bottom: $border-bottom;
	min-width: 400px;
	padding-bottom: 10px;

	@media (max-width: #{$mobile-width}) {
  		font-size: 3em;
  		display: block;
  		min-width: 0;
  	}
}

h2{
	font-family: $robotolight;
	margin-bottom:30px;
	@media (max-width: #{$mobile-width}) {
  		font-size: 2em;
  	}
}

a{
	color: $brand-yellow;
}
.content{
	margin-bottom: 2em;
}
.content a{
	&:hover, &:focus{
		color: $brand-yellow;
		text-decoration: none;
		border-bottom: 2px solid;
	}
}

img{
	max-width:100%;
	height: auto;
}

p{
	margin-bottom: 20px;
	color: $copy-grey;
}

.page-header{
	border: 0;
	@media (max-width: #{$mobile-width}) {
  		 margin-top: 20px;
  	}
}

.hr-short{
	border-bottom: $border-bottom;
	max-width: 400px;
	margin: 2em 0 4em 0;
	@media (max-width: #{$mobile-width}) {
  		 margin: 1em 0 2em 0;

  	}
}