.hide-mobile{
	display:block;
	@media (max-width: #{$mobile-width}) {
    	display: none;
  	}
}

.show-mobile{
	display:none;
	@media (max-width: #{$mobile-width}) {
    	display: block;
  	}
}

.max-width-50{
	max-width: 50%;
}

.max-width-75{
	max-width: 75%;
}