// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;
$brand-yellow: 			#c7be0d;

//Transparencies
$transparent-header: rgba(0, 0, 0, 0.7);
$transparent-body: rgba(0, 0, 0, 0.4);

//Common Elements
$border-bottom: 2px solid #aaa;

/* Media Queries Widths & Mixins */
$mobile-sm: 480px;
$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1024px;

$avenir: 'AvenirNextPro', sans-serif;
$olympic: 'Olympic', sans-serif;
$roboto: 'Roboto', sans-serif;
$robotolight: 'RobotoLight', sans-serif;

@font-face {
  font-family: 'AvenirNextPro';
  src: url('../fonts/AvenirNextLTPro-Regular.otf');
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'RobotoLight';
  src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Olympic';
  src: url('../fonts/Olympic Branding.ttf');
}

@mixin mobile() {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet() {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop() {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}