header{
	background: $transparent-header;
}

.container{
	position: relative;
}

.main-container{
	max-width: 1400px;
	background: #fff;
	margin: 0 auto;
}

.brand{
	 line-height: 0; 
     font-size: 0;
     display: inline-block;
     color: transparent; 
     background: #000 url('../images/Logo-2x.png') 60px 15px no-repeat;
     width: 230px;
     height: 120px;
     background-size: 110px 80px;
     box-sizing: border-box;
     float: left;

     @media (max-width: #{$mobile-width}) {
     	display: none;
     }
}

.slicknav_brand {
	height: 80px;
	padding-top: 12px;
	img {
		max-width: 78px;
	}
}

.slicknav_btn{
	border-radius: 50%;
	height: 40px;
    width: 40px;
    padding: 14px 11px;
    margin-top: 20px;
    background: #000!important;
    margin-right: 20px;
}

.slicknav_icon-bar{
	border-radius: 0!important;
	background-color: $brand-yellow!important;
}

.slicknav_menu{
	background: $transparent-header!important;
	padding: 0!important;
}

// .slicknav_open{
//     height: 60px;
//     border-radius: 100% 100% 0 0;
//     margin-bottom: 0;
// }

.slicknav_open .slicknav_icon-bar {
	background-color: #fff!important;
}

.slicknav_btn .slicknav_icon-bar+.slicknav_icon-bar {
    margin-top: 4px!important;
}

.slicknav_nav{
	background: #000;
	background: #000;
    position: absolute;
    right: 0;
    top: 80px;
    min-width: 50%;
    z-index: 9999;

    a {
    	color: #fff;
    	&:hover {
    		background: none!important;
    		color: $brand-yellow;
    		text-decoration: none;
    	}
    }
}

.nav-primary{
	ul{
		float: right;
		padding-top:70px;
	}

	ul li{
		display: inline-block;
	}

	ul li a{
		color: #fff;
		padding-bottom: 15px;
		position: relative;

		&:before{
			content: "";
			position: absolute;
			width: 100%;
			height: 3px;
			bottom: 0;
			left: 0;
			background-color: $brand-yellow;
			visibility: hidden;
			-webkit-transform: scaleX(0);
			transform: scaleX(0);
			-webkit-transition: all 0.3s ease-in-out 0s;
			transition: all 0.3s ease-in-out 0s;
		}

		&:hover, &:focus{
			background: none;
		}

		&:hover:before, &:focus:before{
			visibility: visible;
  			-webkit-transform: scaleX(1);
  			transform: scaleX(1);
		}

		@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    		padding: 15px 10px;
    		font-size: 14px;
		}
	}
	
	.current-menu-item a{
		color: $brand-yellow;

		&:before{
			visibility: visible;
  			-webkit-transform: scaleX(1);
  			transform: scaleX(1);
		}
	}

	 @media (max-width: #{$mobile-width}) {
	 	float:right;
	 	display: inline-block;
	 }
}

.header-social{
	position:absolute;
	right: 30px;
	@media (max-width: #{$mobile-width}) {
		display: none;
	}
}

.social-facebook a{
	background: url('../images/Facebook-2x.png');
}
.social-instagram a {
	background: url('../images/Instagram-2x.png');
}
.social-email a{
	background: url('../images/Email-2x.png');
}

$icon-size: 30px;

.social{
	margin: 0;
	float: right;
	list-style: none;
	padding: 0;

	li{
		display: inline-block;
	}
	.social-facebook a,
	.social-instagram a,
	.social-email a{
		line-height: 0; 
     	font-size: 0;
     	background-size: $icon-size $icon-size;
     	display: inline-block;
     	height: $icon-size;
     	width: $icon-size;
     	margin-left:20px;

	}
}

