//PAGE SPEICIFC
.banner{
	background-image: url('../images/page-bg.jpg');
}

.page .slicknav_menu{
	background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../images/home-bg.jpg')!important;
}

.home{
	.banner{
		background-image: none;
	}
	background-image: url('../images/home-bg.jpg');
	background-size: cover;

	@media (max-width: #{$mobile-width}) {
		background-size: 200%;
	}
}