//PAGE SPEICIFC
.banner{
	background-image: url('../images/page-bg.jpg');
}

.page .slicknav_menu{
	background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../images/home-bg.jpg')!important;
}

.home{
	color: #fff;
	text-align: center;
	height: 100%;

	h1{
		font-family: $olympic;
		color: #fff;
		font-size: 10em;
		padding-top:20px;
		border: 0;

		@media (max-width: #{$mobile-width}) {
  			font-size: 5em;
  		}
	}

	p{
		font-size: 1.2em;
		max-width: 700px;
		margin: 0 auto;
		padding: 40px 0 75px 0;
	}

	// .wrap.container{
	// 	background-color: $transparent-body;
	// }

	.banner{
		background-image: none;
	}

	.main-container{
		background-image: url('../images/home-bg.jpg');
		background-size: cover;
		@media (max-width: #{$mobile-width}) {
			background-size: 200%;
		}
	}
}

//PRODUCT

.product-image img{
 	margin-bottom: 20px;
}

.image-main{
	width: 55%;
	float:left;
	margin-right:2%;
}

.image-second{
	width: 42%;
	float:left;
}

.product-image{
	img{
 		margin-bottom: 20px;
	}

	@media (max-width: #{$mobile-width}) {
		width: 100%;
	}
}