body.home{
	background-image: url('../images/home-bg.jpg');
	background-size: cover;
	@media (max-width: #{$mobile-width}) {
		background-image: url('../images/home-bg-mobile.jpg');
		background-size: initial;
	}
	@media (max-width: #{$mobile-sm}) {
		background-image: url('../images/home-bg-mobile-sm.jpg');
	}
}

//PAGE SPEICIFC
.banner{
	background-image: url('../images/page-bg.jpg');
	background-size: cover;
}

.home{
	color: #fff;
	text-align: center;

	h1{
		font-family: $avenir;
		color: #fff;
		font-size: 3.5em;
		padding-top:1.5em;
		border: 0;

		@media (max-width: #{$mobile-width}) {
  			font-size: 2em;
  		}
	}

	p{
		font-size: 1.2em;
		max-width: 700px;
		color: #fff;
		margin: 0 auto;
		padding: 1em 0 2em 0;
	}
	footer{
		display: none;
	}
	.banner{
		background-image: none;
	}

	.main-container{
		background: transparent;
		
	}
}

.page .slicknav_menu{
	background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../images/home-bg.jpg')!important;
}

//PRODUCT

.product:nth-of-type(1){
	background: #000;
	border-bottom: $border-bottom;
}

.breadcrumb{
	background: $brand-green;
	padding: 10px 0;
}

.product-image img{
 	margin-bottom: 20px;
}

.image-main{
	width: 55%;
	float:left;
	margin-right:2%;
}

.image-second{
	width: 42%;
	float:left;
}

.product-image{
	img{
 		margin-bottom: 20px;
	}

	@media (max-width: #{$mobile-width}) {
		width: 100%;
	}
}


//contact

  .google-maps {
        position: relative;
        padding-bottom: 37.5%; // This is the aspect ratio
        height: 0;
        overflow: hidden;

        @media (max-width: #{$mobile-width}) {
			padding-bottom: 77.5%; // This is the aspect ratio
		}
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
